{% extends "base.html" %}
{% block title %}{{customer.company}}{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-3">
        <h3>Клиент подробно</h3>
    </div>
    <form>
        <fieldset disabled>
            <div class="col-9">
                <div class="row justify-content-start">
                    <div class="col-7">
                        <div class="mt-3">
                            <label for="companyInput" class="form-label">Организация</label>
                            <input id="companyInput" class="form-control" type="text" value="{{customer.company}}"
                                   aria-label="{{customer.company}}" readonly>
                        </div>
                        <div class="mt-3">
                            <label for="full_nameInput" class="form-label">Контактное лицо</label>
                            <input id="full_nameInput" class="form-control" type="text" value="{{customer.full_name}}"
                                   aria-label="{{customer.full_name}}" readonly>
                        </div>
                        <div class="mt-3">
                            <div class="row justify-content-start">
                                <div class="col-7">
                                    <label for="phoneInput" class="form-label">Телефон</label>
                                    <input id="phoneInput" class="form-control" type="text" value="{{customer.phone}}"
                                           aria-label="{{customer.phone}}" readonly>
                                </div>
                                <div class="col-5">
                                    <label for="emailInput" class="form-label">email</label>
                                    <input id="emailInput" class="form-control" type="text" value="{{customer.email}}"
                                           aria-label="{{customer.email}}" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label for="addressInput" class="form-label">Адрес</label>
                            <input id="addressInput" class="form-control" type="text" value="{{customer.address}}"
                                   aria-label="{{customer.address}}" readonly>
                        </div>
                        <div class="mt-3">
                            <label for="noteInput" class="form-label">Дополнительно</label>
                            <textarea id="noteInput" class="form-control" type="text" aria-label="{{customer.phone}}"
                                      rows="2">{{customer.note}}</textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mt-3">
                            <label for="projectsList" class="form-label">Список проектов</label>
                            <ul id="projectsList" class="list-group">
                                {% for project in project_list %}
                                <li class="list-group-item"><a href="{% url 'customers:project_detail' pk=project.pk%}">
                                    {{project.name}}</a></li>
                                {% empty %}
                                <li>Список проектов пуст</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="mt-3">
        <a href="{% url 'customers:list' %}">
            <button type="button" class="btn btn-light">Назад к списку Клиентов</button>
        </a>
    </div>
</div>
{% endblock %}