{% extends "base.html" %}
{% load bootstrap_icons %}
{% block title %}Контрагенты{% endblock %}
{% block content %}
Delete view
Если связей нет:
Вы уверены что хотите удалить Контр/Проектов/Задач====?


Если связи есть:
ProtectedError
Невозможно удалить кн===========
Предварительно нужно удалить
Проекты:
 пр===
Задания
 зд===

Невозможно удалить пр===========
Предварительно нужно удалить
Задания
 зд===

Кнопка Удалить Назад к списку Контр/Проектов/Задач
<h1>Удалить {{ object }}</h1>
<p>{{ object }}</p>
<form action="{{action}}" method="post"> {% csrf_token %}
<div class="mt-3">
 <div class="form-group">
 <input class="btn btn-outline-success" type="submit" value="Удалить">
 </div>
</div>
</form>
{% endblock %}