{% extends "base.html" %}
{% load bootstrap_icons %}
{% block title %}Контрагенты{% endblock %}
{% block content %}
<div class="container">
    <div class="col-8">
        <div class="mt-3">
            <h3>Список контрагентов</h3>
        </div>
        <table class="table align-middle table-striped">
            {% for customer in customers_list %}
            <tr>
                <td>
                    <a href="{% url 'customers:detail' pk=customer.pk%}">{{ customer.company }} -
                {{ customer.full_name }}</a>
                </td>
                <td>
                    <a href="{% url 'customers:update' pk=customer.pk%}">
                        <button type="button" class="btn btn-outline-dark">
                            {% bs_icon 'pencil-square' %}Изменить
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'customers:delete' pk=customer.pk%}">
                        <button type="button" class="btn btn-outline-dark">
                            {% bs_icon 'trash' %}Удалить
                        </button>
                    </a>
                </td>
            </tr>
            {% empty %}
                <h4>Список контрагентов пуст</h4>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}