{% extends "base.html" %}
{% load bootstrap_icons %}
{% block title %}Проекты{% endblock %}
{% block content %}
<div class="row">
    <div class="col-auto me-auto">
        <div class="mt-3">
            <h3>Все проекты</h3>
        </div>
    </div>
    <div class="col-auto">
        <div class="mt-3">
            <a href="{% url 'customers:project_create' %}">
                <button type="button" class="btn btn-outline-dark">
                    {% bs_icon 'plus-square' %}Новый Проект
                </button>
            </a>
        </div>
    </div>
</div>
<table class="table align-middle table-striped">
    {% for project in projects_list %}
    <tr>
        <td>
            <a href="{% url 'customers:project_update' pk=project.pk %}">{{ project.name }}</a>
        </td>
        <td>
            <a href="{% url 'customers:update' pk=project.customer.pk %}">{{ project.customer.full_name }}</a>
        </td>
        <td>
            {{ project.deadline }}
        </td>
        <td>
            <div class="text-end">
            <a href="{% url 'customers:project_delete' pk=project.pk %}">
                <button type="button" class="btn btn-outline-dark">
                    {% bs_icon 'trash' %}Удалить
                </button>
            </a>
            </div>
        </td>
    </tr>
    {% empty %}
    <h4>Список проектов пуст</h4>
    {% endfor %}
</table>
{% endblock %}

